<!-- header -->
<%- include('../../partials/header.ejs', {title: 'Error 404'}) %> 
<!-- navbar -->
<%- include('../../partials/navbar.ejs') %>

<div class="container py-4 text-center">
    <h2>404 Page Not Found</h2>
</div>

<!-- footer -->
<%- include('../../partials/footer.ejs') %> 