<!-- header -->
<%- include('../../partials/header.ejs', {title: 'Error 500'}) %> 
<!-- navbar -->
<%- include('../../partials/navbar.ejs') %>

<div class="container py-4 text-center">
    <h2>500 Internal Server Error</h2>
</div>

<!-- footer -->
<%- include('../../partials/footer.ejs') %> 