<!-- header -->
<%- include('../partials/header.ejs') %> 
<!-- navbar -->
<%- include('../partials/navbar.ejs') %>

<div class="container home">
    <h2>Welcome to youBlog</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aperiam ab eius obcaecati vel sapiente corporis, voluptate numquam at eaque, eveniet ex accusamus minima neque ut inventore. Pariatur, non delectus.</p>
</div>

<!-- footer -->
<%- include('../partials/footer.ejs') %> 